@charset "UTF-8";
@import "bootstrap.min.css";
@import "../css/fonts.css";
.header {
  padding: 32px 118px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
}
@media (max-width: 1400px) {
  .header {
    padding: 32px 0;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 12px 0;
  }
}
.header .navbar-brand img {
  max-width: 223px;
  height: 90px;
}
@media (max-width: 1366px) {
  .header .navbar-brand img {
    max-width: 180px;
  }
}
@media (max-width: 1024px) {
  .header .navbar-brand img {
    max-width: 150px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .header .navbar-brand img {
    max-width: 120px;
  }
}
.header .navbar-nav {
  background-color: #fff;
  gap: 1.4rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.0509803922);
  border-radius: 36.12px;
  padding: 10px 12px;
}
@media (max-width: 1190px) {
  .header .navbar-nav {
    gap: 1rem;
  }
}
@media (max-width: 992px) {
  .header .navbar-nav {
    box-shadow: none;
    border-radius: 0;
  }
}
.header .navbar-nav .nav-link {
  font-family: ExoMedium;
  text-transform: capitalize;
  font-size: 16px;
  padding: 1rem 2rem;
  color: #000;
  text-wrap: nowrap;
}
@media (max-width: 1190px) {
  .header .navbar-nav .nav-link {
    padding: 1rem;
  }
}
.header .navbar-nav .nav-link.active {
  background-color: #E99A00;
  color: #fff;
  border-radius: 27px;
}
@media (max-width: 992px) {
  .header .navbar-collapse {
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.0509803922);
    border-radius: 36.12px;
    padding: 10px 12px;
  }
}

img {
  width: 100%;
}

ul {
  padding-inline-start: 0;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: ExoRegular;
}

.btn-outline-expert {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #E99A00;
  border: 2px solid #E99A00;
  padding: 20px 40px;
  border-radius: 47px;
  text-wrap: nowrap;
}
@media (max-width: 1366px) {
  .btn-outline-expert {
    padding: 15px 25px;
  }
}
@media (max-width: 1200px) {
  .btn-outline-expert {
    padding: 15px 15px;
  }
}
.btn-outline-expert:hover {
  color: #000;
  border-color: #000;
}

.btn-main, .hero .card-info .card-foot .btn-main {
  padding: 4px;
  padding-inline-start: 25px;
  background-color: #E99A00;
  color: #fff;
  font-size: 20px;
  font-family: ExoMedium;
  line-height: 28px;
  border-radius: 47px;
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #E99A00;
  position: relative;
  transition: all 0.3s ease-in;
  overflow: hidden;
  z-index: 1;
}
.btn-main .arow, .hero .card-info .card-foot .btn-main .arow {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.btn-main::after, .hero .card-info .card-foot .btn-main::after {
  content: "";
  width: 0;
  height: 100%;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 47px;
  transition: all 0.3s;
  z-index: -1;
}
.btn-main:hover, .hero .card-info .card-foot .btn-main:hover {
  border-color: #E99A00;
  background-color: #fff;
  color: #000;
}
.btn-main:hover::after, .hero .card-info .card-foot .btn-main:hover::after {
  width: 100%;
}

.showText {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
  visibility: visible;
}

.hideText {
  opacity: 0;
  visibility: hidden !important;
  transform: translateX(-20%);
  transition: visibility 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.transformLevel {
  transform: translate(10px, 10px);
}

#svg {
  transition: all 0.5s;
}
@media (max-width: 767px) {
  #svg {
    margin: 30px 0;
  }
}

svg rect {
  transition: all 0.5s;
}

.svgTransform {
  transform: translate(-35%, 10px) scale(1.1);
}
@media (max-width: 1024px) {
  .svgTransform {
    transform: unset;
  }
}
@media (max-width: 992px) {
  .svgTransform {
    transform: translate(0%, 20px);
  }
}

.translevel1 {
  transform: translate(-30px, 0px);
}

.translevel2 {
  transform: translate(-15px, 2px);
}

.translevel4 {
  transform: translate(-10px, 15px);
}

.transLevel3 {
  transform: translate(35px, -15px);
}

.translevel5 {
  transform: translate(45px, 40px);
}

.translevel6 {
  transform: translate(-5px, 0px);
}

.translevelWithAction {
  transform: translate(60px, -25px);
}

.about-hero, .contact {
  padding: 170px 0 0 0;
  position: relative;
  z-index: 1;
}
.about-hero::after, .contact::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("https://h.top4top.io/p_3039ioga01.png");
  background-size: 50% 100%;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  inset-inline-end: 0;
  top: 0;
  right: 0;
  z-index: -1;
}
@media (max-width: 768px) {
  .about-hero, .contact {
    padding: 100px 0 0 0;
  }
}
.about-hero .text-about, .contact .text-about {
  margin: 100px 0;
}
@media (max-width: 600px) {
  .about-hero .text-about, .contact .text-about {
    margin: 30px 0;
  }
}
.about-hero .text-about h1, .contact .text-about h1 {
  font-size: 100px;
  font-family: ExoSemiBold;
}
@media (max-width: 1200px) {
  .about-hero .text-about h1, .contact .text-about h1 {
    font-size: 80px;
  }
}
@media (max-width: 1024px) {
  .about-hero .text-about h1, .contact .text-about h1 {
    font-size: 80px;
  }
}
@media (max-width: 992px) {
  .about-hero .text-about h1, .contact .text-about h1 {
    font-size: 65px;
  }
}
@media (max-width: 768px) {
  .about-hero .text-about h1, .contact .text-about h1 {
    font-size: 60px;
    margin-top: 15px;
  }
}
@media (max-width: 600px) {
  .about-hero .text-about h1, .contact .text-about h1 {
    font-size: 35px;
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .about-hero .text-about, .contact .text-about {
    font-size: 40px;
  }
}
.about-hero .text-about .d-flex, .contact .text-about .d-flex {
  margin-top: 62px;
  justify-content: space-between;
  align-items: end;
}
.about-hero .text-about .d-flex p, .contact .text-about .d-flex p {
  font-size: 35px;
  font-family: ExoMedium;
}
@media (max-width: 1024px) {
  .about-hero .text-about .d-flex p, .contact .text-about .d-flex p {
    font-size: 28px;
    line-height: 1.2;
  }
}
@media (max-width: 600px) {
  .about-hero .text-about .d-flex p, .contact .text-about .d-flex p {
    font-size: 20px;
    margin-top: 15px;
  }
}
.about-hero .text-about .d-flex .explore, .contact .text-about .d-flex .explore {
  font-size: 25px;
  font-family: ExoBold;
  color: #000;
}
@media (max-width: 600px) {
  .about-hero .text-about .d-flex .explore, .contact .text-about .d-flex .explore {
    font-size: 18px;
    margin-top: 15px;
  }
}
.about-hero .text-about .d-flex .explore span, .contact .text-about .d-flex .explore span {
  margin-inline-start: 10px;
}
.about-hero .text-about .d-flex .explore span svg, .contact .text-about .d-flex .explore span svg {
  color: #000;
}
@media (max-width: 600px) {
  .about-hero .text-about .d-flex .explore span svg, .contact .text-about .d-flex .explore span svg {
    width: 14px;
  }
}
.about-hero .about-hero-img, .contact .about-hero-img {
  margin-top: 46px;
}
@media (max-width: 600px) {
  .about-hero .about-hero-img, .contact .about-hero-img {
    margin-top: 0px;
  }
}

.container-fluid1 {
  padding: 0 120px;
}
@media (max-width: 1024px) {
  .container-fluid1 {
    padding: 0 40px;
  }
}

.ourGoal {
  padding: 115px 0;
}
@media (max-width: 768px) {
  .ourGoal {
    padding: 70px 0;
  }
}
.ourGoal .gap {
  gap: 0;
}
@media (min-width: 1200px) {
  .ourGoal .gap {
    gap: 2rem;
  }
}
.ourGoal .ourGoal-title p {
  font-size: 25px;
  font-family: ExoSemiBold;
}
@media (max-width: 768px) {
  .ourGoal .ourGoal-title p {
    font-size: 18px;
  }
}
.ourGoal .ourGoal-text h2 {
  font-size: 55px;
  font-family: ExoBold;
}
@media (max-width: 1024px) {
  .ourGoal .ourGoal-text h2 {
    font-size: 28px;
    line-height: 1.4;
  }
}
@media (max-width: 768px) {
  .ourGoal .ourGoal-text h2 {
    font-size: 40px;
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .ourGoal .ourGoal-text h2 {
    font-size: 25px;
  }
}
.ourGoal .ourGoal-text p {
  font-size: 25px;
  font-family: ExoSemiBold;
  margin-top: 42px;
}
@media (max-width: 1024px) {
  .ourGoal .ourGoal-text p {
    font-size: 20px;
  }
}
.ourGoal .tab-about {
  margin-top: 42px;
}
.ourGoal .tab-about .image-container img {
  max-width: 645px;
}
@media (max-width: 767px) {
  .ourGoal .tab-about .image-container img {
    max-width: 100%;
  }
}
.ourGoal .tab-about .nav .nav-item .nav-link {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.2);
  font-family: ExoSemiBold;
  margin-top: 12px;
  border-bottom: none;
  border: none;
}
@media (max-width: 1024px) {
  .ourGoal .tab-about .nav .nav-item .nav-link {
    font-size: 30px;
    margin-top: 5px;
  }
}
@media (max-width: 768px) {
  .ourGoal .tab-about .nav .nav-item .nav-link {
    font-size: 25px;
  }
}
.ourGoal .tab-about .nav .nav-item .nav-link.active {
  background-color: transparent;
  border: none;
  color: #000;
}
.ourGoal .tab-about .nav .nav-item .nav-link:hover {
  background-color: transparent;
  color: #000;
}
.ourGoal .tab-about .nav .nav-item .nav-link:focus {
  background-color: transparent;
  color: #000;
  border: none;
}
.ourGoal .tab-about .tab-content {
  margin-top: 72px;
}
@media (max-width: 1024px) {
  .ourGoal .tab-about .tab-content {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .ourGoal .tab-about .tab-content {
    margin-top: 42px;
  }
}
.ourGoal .tab-about .tab-content .tab-pane .tab-pane-title {
  font-size: 30px;
  font-family: ExoSemiBold;
  line-height: 40px;
  margin-bottom: 22px;
  color: #000;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .ourGoal .tab-about .tab-content .tab-pane .tab-pane-title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
  }
}
.ourGoal .tab-about .tab-content .tab-pane .tab-pane-desc {
  font-size: 25px;
  font-family: ExoMedium;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .ourGoal .tab-about .tab-content .tab-pane .tab-pane-desc {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (max-width: 600px) {
  .ourGoal .tab-about .tab-content .tab-pane .tab-pane-desc {
    font-size: 18px;
    line-height: 25px;
  }
}

.ready-get-system {
  padding: 76px 108px 52px 131px;
  background-image: linear-gradient(to right, #E3B925 0%, #DB8126 100%);
  position: relative;
  z-index: 1;
  margin: 20px 1rem;
  border-radius: 15px;
}
@media (max-width: 1024px) {
  .ready-get-system {
    padding: 60px 65px 50px 40px;
  }
}
@media (max-width: 768px) {
  .ready-get-system {
    padding: 40px 10px;
  }
}
.ready-get-system::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("https://b.top4top.io/p_3036zwyfz1.png");
  background-size: 50% 100%;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  inset-inline-end: 0;
  top: 0;
  z-index: -1;
}
@media (max-width: 768px) {
  .ready-get-system::after {
    background-size: 100% 100%;
  }
}
.ready-get-system .textReady h2 {
  font-size: 100px;
  font-family: ExoSemiBold;
  line-height: 1.1;
  margin-bottom: 52px;
  display: inline-block;
}
@media (max-width: 1024px) {
  .ready-get-system .textReady h2 {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .ready-get-system .textReady h2 {
    font-size: 40px;
    line-height: 1.2;
  }
}
.ready-get-system .textReady .btn-main-black {
  background-color: #fff;
  color: #000;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  padding-inline-start: 65px;
}
@media (max-width: 767px) {
  .ready-get-system .textReady .btn-main-black {
    width: 100%;
  }
}
.ready-get-system .textReady .btn-main-black .arow-black {
  background-color: #000;
}
.ready-get-system .textReady .btn-main-black::after {
  background-color: #000;
  color: #fff;
}
.ready-get-system .textReady .btn-main-black:hover {
  color: #fff;
}
.ready-get-system .textReady .textFooter {
  margin-top: 53px;
}
.ready-get-system .textReady .textFooter .textSmart-title h3, .ready-get-system .textReady .textFooter .textSmart-title .footer .middle-footer .footer-title h2, .footer .middle-footer .footer-title .ready-get-system .textReady .textFooter .textSmart-title h2 {
  font-size: 25px;
  font-family: ExoSemiBold;
}
@media (max-width: 600px) {
  .ready-get-system .textReady .textFooter .textSmart-title h3, .ready-get-system .textReady .textFooter .textSmart-title .footer .middle-footer .footer-title h2, .footer .middle-footer .footer-title .ready-get-system .textReady .textFooter .textSmart-title h2 {
    font-size: 20px;
  }
}
.ready-get-system .textReady .textFooter .textSmart-desc p {
  font-size: 25px;
  line-height: 45px;
  font-family: ExoMedium;
}
@media (max-width: 600px) {
  .ready-get-system .textReady .textFooter .textSmart-desc p {
    font-size: 18px;
    line-height: 1.4;
  }
}

.footer {
  padding: 81px 0;
}
@media (max-width: 768px) {
  .footer {
    padding: 40px 0;
  }
}
.footer .container-fluid {
  padding: 0 113px;
}
@media (max-width: 768px) {
  .footer .container-fluid {
    padding: 0 40px;
  }
}
.footer .top-footer {
  padding: 10px 0 90px 0;
  border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
}
@media (max-width: 768px) {
  .footer .top-footer {
    padding: 10px 0 40px 0;
  }
}
.footer .top-footer .footer-logo img {
  max-width: 170px;
}
@media (max-width: 768px) {
  .footer .top-footer .footer-logo img {
    margin-bottom: 40px;
  }
}
.footer .top-footer .footer-title a {
  font-size: 46px;
  font-family: ExoSemiBold;
  line-height: 35px;
  color: #000;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .footer .top-footer .footer-title a {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .footer .top-footer .footer-title a {
    font-size: 25px;
    line-height: 1.2;
  }
}
.footer .middle-footer {
  padding-top: 79px;
}
.footer .middle-footer .footer-title h3, .footer .middle-footer .footer-title h2 {
  font-size: 25px;
  font-family: ExoSemiBold;
  line-height: 39px;
  color: #000;
  margin-bottom: 13px;
}
@media (max-width: 767px) {
  .footer .middle-footer .footer-title h3, .footer .middle-footer .footer-title h2 {
    font-size: 18px;
    line-height: 1.2;
  }
}
.footer .middle-footer .footer-title h2 {
  width: 436px;
}
@media (max-width: 1024px) {
  .footer .middle-footer .footer-title h2 {
    width: auto;
  }
}
.footer .middle-footer .footer-title ul li {
  margin-bottom: 10px;
  list-style: none;
}
.footer .middle-footer .footer-title ul li a {
  font-size: 20px;
  font-family: ExoRegular;
  line-height: 39px;
  color: #000;
  text-decoration: none;
}
@media (max-width: 767px) {
  .footer .middle-footer .footer-title ul li a {
    font-size: 18px;
    line-height: 1.2;
  }
}
.footer .middle-footer .footer-title .img-app img {
  max-width: 151px;
}
@media (max-width: 767px) {
  .footer .middle-footer .row {
    gap: 30px;
  }
}
.footer .bottom-footer .copyright {
  margin-top: 30px;
}
.footer .bottom-footer .back-to-top .btn-to-top {
  margin-top: 60px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 15px 40px;
  font-size: 16px;
  font-family: ExoRegular;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.footer .bottom-footer .back-to-top .btn-to-top:hover {
  background-color: #E99A00;
  color: #000;
}

.services-hero .btn-main, .services-hero .hero .card-info .card-foot .btn-main, .hero .card-info .card-foot .services-hero .btn-main {
  padding-inline-start: 50px;
  width: -moz-fit-content;
  width: fit-content;
}

.identify {
  padding: 150px 0;
}
@media (max-width: 1200px) {
  .identify {
    padding: 50px 0;
  }
}
.identify .container-fluid {
  padding: 0 115px;
}
@media (max-width: 1024px) {
  .identify .container-fluid {
    padding: 0 40px;
  }
}
.identify .identify-title h2 {
  font-family: ExoSemiBold;
  font-size: 55px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 48px;
}
@media (max-width: 1024px) {
  .identify .identify-title h2 {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
}
.identify .identify-title a {
  font-family: ExoMedium;
  font-size: 25px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 31px;
  text-decoration: underline;
  display: block;
}
@media (max-width: 1024px) {
  .identify .identify-title a {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
}
.identify .identify-title p {
  font-family: ExoMedium;
  font-size: 25px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .identify .identify-title p {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
}
.identify .identify-img {
  text-align: end;
}
.identify .identify-img img {
  max-width: 600px;
}
@media (max-width: 768px) {
  .identify .identify-img img {
    max-width: 100%;
  }
}

.products {
  padding: 70px 0;
}
.products .container-fluid {
  padding: 0 115px;
}
@media (max-width: 1024px) {
  .products .container-fluid {
    padding: 0 40px;
  }
}
.products .gap {
  gap: 0;
}
@media (max-width: 768px) {
  .products .gap {
    gap: 30px;
  }
}
.products .products-title p {
  font-size: 25px;
  font-family: ExoSemiBold;
  width: 440px;
}
@media (max-width: 1024px) {
  .products .products-title p {
    font-size: 18px;
    width: 100%;
  }
}
.products .products-desc p {
  font-size: 55px;
  padding-inline-end: 30px;
  font-family: ExoSemiBold;
  line-height: 1.3;
}
@media (max-width: 1024px) {
  .products .products-desc p {
    font-size: 18px;
    padding-inline-end: 0;
  }
}
.products .slider .splide {
  position: relative;
  padding-bottom: 50px;
}
.products .slider .splide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 97%;
  height: 2px;
  background-color: #000;
}
@media (max-width: 1024px) {
  .products .slider .splide::after {
    width: 95%;
  }
}
@media (max-width: 600px) {
  .products .slider .splide::after {
    width: 90%;
  }
}
.products .slider .splide .splide__slide .card {
  background-color: transparent;
  border: none;
}
.products .slider .splide .splide__slide .card .imgCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
  border-radius: 29px;
  height: 693px;
}
.products .slider .splide .splide__slide .card .imgCard img {
  width: 300px;
  height: 360px;
}
.products .slider .splide .splide__slide .card .card-body {
  padding: 20px 36px;
}
.products .slider .splide .splide__slide .card .card-body h5 {
  font-family: ExoSemiBold;
  font-size: 25px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 10px;
}
.products .slider .splide .splide__slide .card .card-body p {
  font-family: ExoMedium;
  font-size: 25px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}
.products .slider .splide .splide__arrows {
  position: absolute;
  bottom: 0;
  inset-inline-end: 0;
}
.products .slider .splide .splide__arrows .splide__arrow--prev {
  background-color: transparent;
  left: -2em;
  margin-inline-end: 5px;
}
.products .slider .splide .splide__arrows .splide__arrow--prev svg {
  transform: rotate(0deg);
}
@media (max-width: 1024px) {
  .products .slider .splide .splide__arrows .splide__arrow--prev {
    left: -2em;
  }
}
.products .slider .splide .splide__arrows .splide__arrow--next {
  background-color: transparent;
  right: -2em;
}
.products .slider .splide .splide__arrows .splide__arrow--prev--active {
  background-color: red;
}

.lighting-solutions {
  padding: 111px 0;
}
.lighting-solutions .lighting-solutions-img {
  margin-bottom: 111px;
}
.lighting-solutions .lighting-solutions-title {
  padding: 0 40px;
}
.lighting-solutions .lighting-solutions-title h2 {
  font-family: ExoSemiBold;
  font-size: 55px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 48px;
}
@media (max-width: 1024px) {
  .lighting-solutions .lighting-solutions-title h2 {
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
}
@media (max-width: 600px) {
  .lighting-solutions .lighting-solutions-title h2 {
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
}
.lighting-solutions .lighting-solutions-title p {
  font-family: ExoMedium;
  font-size: 25px;
  line-height: 1.6;
  color: #000;
  margin-bottom: 70px;
}
.lighting-solutions .accordion {
  margin: 0 40px;
  border-radius: 0;
}
.lighting-solutions .accordion .accordion-item {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}
.lighting-solutions .accordion .accordion-item:first-of-type {
  border-top: 1px solid;
}
.lighting-solutions .accordion .accordion-item .accordion-header {
  border: none;
}
.lighting-solutions .accordion .accordion-item .accordion-header .accordion-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 41px;
  font-family: ExoRegular;
  padding: 40px 60px 40px 15px;
}
@media (max-width: 1024px) {
  .lighting-solutions .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .lighting-solutions .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 20px;
    padding: 15px 0;
  }
}
.lighting-solutions .accordion .accordion-item .accordion-header .accordion-button::after {
  content: "+";
  background-image: unset;
  margin-left: unset;
  font-size: 41px;
  width: 2rem;
  height: 2rem;
  transform: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E99A00;
  color: #000;
  border-radius: 50%;
}
.lighting-solutions .accordion .accordion-item .accordion-header .accordion-button .title {
  padding: 0 40px;
  width: 65%;
}
@media (max-width: 1024px) {
  .lighting-solutions .accordion .accordion-item .accordion-header .accordion-button .title {
    width: 100%;
  }
}
.lighting-solutions .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: #fff;
}
.lighting-solutions .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}
.lighting-solutions .accordion .accordion-item .accordion-header .accordion-button[aria-expanded=true]::after {
  content: "-";
}
.lighting-solutions .accordion .accordion-item .accordion-body {
  display: flex;
  justify-content: center;
}
.lighting-solutions .accordion .accordion-item .accordion-body p {
  font-family: ExoMedium;
  font-size: 25px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  width: 65%;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .lighting-solutions .accordion .accordion-item .accordion-body p {
    width: 100%;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .lighting-solutions .accordion .accordion-item .accordion-body p {
    font-size: 18px;
  }
}

.contact {
  position: unset;
  padding: 130px 0;
}
.contact .container-fluid {
  padding: 0 118px;
}
@media (max-width: 1024px) {
  .contact .container-fluid {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .contact .container-fluid {
    padding: 0 40px;
  }
}
.contact .text-contact {
  padding: 130px 0;
}
@media (max-width: 768px) {
  .contact .text-contact {
    padding: 70px 0;
  }
}
@media (max-width: 768px) {
  .contact .text-contact h1 {
    font-size: 55px;
  }
}
@media (max-width: 767px) {
  .contact .text-contact h1 {
    font-size: 35px;
  }
}
.contact .contact-desc h2 {
  font-size: 55px;
  font-family: ExoSemiBold;
  margin-bottom: 70px;
}
@media (max-width: 1024px) {
  .contact .contact-desc h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .contact .contact-desc h2 {
    font-size: 25px;
  }
}
.contact .contact-img img {
  max-width: 100%;
}
.contact .contact-form {
  padding: 0 40px;
}
@media (max-width: 768px) {
  .contact .contact-form {
    padding: 0 10px;
  }
}
.contact .contact-form form {
  width: 100%;
}
@media (max-width: 768px) {
  .contact .contact-form form {
    margin-top: 35px;
  }
}
.contact .contact-form form label {
  font-size: 20px;
  font-family: ExoSemiBold;
  margin-bottom: 20px;
  color: #000;
}
@media (max-width: 1024px) {
  .contact .contact-form form label {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
.contact .contact-form form .form-control {
  width: 100%;
  height: 75px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0 20px;
  margin-bottom: 22px !important;
}
.contact .contact-form form .form-control:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem #E99A00;
  border: none;
}
.contact .contact-form form .btn-main, .contact .contact-form form .hero .card-info .card-foot .btn-main, .hero .card-info .card-foot .contact .contact-form form .btn-main {
  padding-inline-start: 60px;
  margin-top: 70px;
}

.form-control.invalid-input {
  border: 1px solid red; /* تغيير لون الحدود ليصبح أحمر عند عدم صحة البيانات */
}

.error-message {
  color: red; /* تغيير لون النص إلى أحمر */
  display: none; /* عدم عرض رسالة الخطأ بشكل افتراضي */
}

.body {
  background-color: #eee;
}

.hero {
  padding: 171px 0 0 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1024px) {
  .hero {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .hero {
    height: auto;
  }
}
@media (max-width: 767px) {
  .hero {
    padding: 100px 0;
  }
}
.hero .title-hero h1 {
  font-size: 80px;
  font-family: ExoBlack;
  line-height: 93px;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
}
@media (max-width: 1366px) {
  .hero .title-hero h1 {
    font-size: 70px;
  }
}
@media (max-width: 1024px) {
  .hero .title-hero h1 {
    font-size: 70px;
    line-height: 1.1;
  }
}
@media (max-width: 767px) {
  .hero .title-hero h1 {
    font-size: 45px;
    margin: 40px 0;
  }
}
.hero .title-hero h1 span {
  font-size: 102px;
}
@media (max-width: 1366px) {
  .hero .title-hero h1 span {
    font-size: 80px;
  }
}
@media (max-width: 1024px) {
  .hero .title-hero h1 span {
    font-size: 80px;
  }
}
@media (max-width: 767px) {
  .hero .title-hero h1 span {
    font-size: 55px;
  }
}
.hero .title-hero h1::before {
  content: "";
  width: 3px;
  height: 69px;
  background-color: #E99A00;
  position: absolute;
  bottom: -20px;
  inset-inline-end: 5px;
  transform: rotate(40deg);
  /* Adjust the degree value as needed */
}
.hero .title-hero h1::after {
  content: "";
  width: 3px;
  height: 69px;
  background-color: #E99A00;
  position: absolute;
  top: -15px;
  inset-inline-start: 10px;
  transform: rotate(40deg);
}
.hero .desc-hero p {
  font-family: ExoBold;
  font-size: 20px;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .hero .desc-hero {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .hero .btn-main, .hero .card-info .card-foot .btn-main {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .hero .btn-main .arow, .hero .card-info .card-foot .btn-main .arow {
    width: 50px;
    height: 50px;
  }
}
.hero .footerHero {
  padding: 10px 118px;
}
@media (max-width: 1024px) {
  .hero .footerHero {
    padding: unset;
  }
}
@media (max-width: 768px) {
  .hero .footerHero {
    padding: 10px 20px;
  }
}
.hero .footerHero .d-flex {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 768px) {
  .hero .footerHero .d-flex {
    flex-direction: column;
    width: 100%;
    align-items: start;
    gap: 20px;
  }
}
.hero .footerHero .app .downloadApp {
  display: flex;
  gap: 4px;
}
.hero .footerHero .app .downloadApp a img {
  max-width: 135px;
  height: 45px;
}
@media (max-width: 767px) {
  .hero .footerHero .app .downloadApp a img {
    max-width: 120px;
    height: 38px;
  }
}
.hero .footerHero .app .copyRight p {
  font-size: 15px;
  margin-top: 12px;
}
@media (max-width: 767px) {
  .hero .footerHero .app .copyRight p {
    font-size: 12px;
  }
}
.hero .footerHero .discover {
  display: flex;
}
.hero .footerHero .discover span {
  width: 12px;
  height: 12px;
  background-color: #E99A00;
  border-radius: 50%;
  display: inline-block;
}
.hero .footerHero .discover p {
  font-family: ExoMedium;
  font-size: 17px;
}
@media (max-width: 767px) {
  .hero .footerHero .discover p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .hero .footerHero .discover p br {
    display: none;
  }
}
.hero .offcanvas {
  width: 375px;
  border-color: #f1f1f1;
  padding: 36px;
}
.hero .offcanvas .offcanvas-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.hero .offcanvas .offcanvas-header .imgHeader img {
  max-width: 157px;
}
@media (max-width: 1024px) {
  .hero .offcanvas .offcanvas-header .imgHeader img {
    max-width: 135px;
  }
}
@media (max-width: 767px) {
  .hero .offcanvas .offcanvas-header .imgHeader img {
    display: none;
  }
}
.hero .offcanvas .offcanvas-header .smallMap {
  margin-top: 42px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .hero .offcanvas .offcanvas-header .smallMap {
    margin-top: 8px;
  }
}
.hero .offcanvas .offcanvas-header .smallMap img {
  max-width: 156px;
}
@media (max-width: 1024px) {
  .hero .offcanvas .offcanvas-header .smallMap img {
    max-width: 100px;
  }
}
.hero .offcanvas .offcanvas-body .tabs .nav-link {
  background-color: rgba(217, 217, 217, 0.25);
  margin-bottom: 10px;
  font-size: 17px;
  padding: 20px;
  border-radius: 30px;
  color: #000;
  font-family: ExoMedium;
  transition: all 0.5s;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .hero .offcanvas .offcanvas-body .tabs .nav-link {
    font-size: 14px;
    padding: 15px;
  }
}
.hero .offcanvas .offcanvas-body .tabs .nav-link:hover {
  background-color: #E99A00;
}
.hero .offcanvas .offcanvas-body .tabs .nav-link.active {
  background-color: #E99A00;
  color: #fff;
}
.hero .offcanvas .offcanvas-footer .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .offcanvas .offcanvas-footer .app a img {
  max-width: 120px;
  height: 40px;
}
@media (max-width: 1024px) {
  .hero .offcanvas .offcanvas-footer .app a img {
    max-width: 100px;
  }
}
.hero .offcanvas .offcanvas-footer .copyRight {
  font-size: 15px;
  margin-top: 12px;
}
.hero .offcanvas-bottom {
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 0;
}
.hero .offcanvas-bottom .offcanvas-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row !important;
  gap: 5px;
}
@media (max-width: 767px) {
  .hero .offcanvas-bottom .offcanvas-header {
    justify-content: center;
    gap: 0;
    padding: 0;
  }
}
.hero .offcanvas-bottom .offcanvas-header .imgHeader img {
  max-width: 100px;
}
.hero .offcanvas-bottom .offcanvas-header .smallMap img {
  max-width: 80px;
}
@media (max-width: 767px) {
  .hero .offcanvas-bottom .offcanvas-body {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .hero .offcanvas-bottom .offcanvas-body .me-3 {
    margin: 0 !important;
  }
}
.hero .offcanvas-bottom .offcanvas-body .tabs .nav {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
  flex-direction: row !important;
}
@media (max-width: 767px) {
  .hero .offcanvas-bottom .offcanvas-body .tabs .nav {
    margin-top: 10px !important;
    gap: 4px;
  }
}
.hero .offcanvas-bottom .offcanvas-body .tabs .nav .nav-link {
  font-size: 12px;
  padding: 10px;
}
.hero .offcanvas-bottom .offcanvas-footer .app a img {
  max-width: 80px;
  height: 33px;
}
.hero .offcanvas-bottom .offcanvas-footer .app .copyRight p {
  font-size: 12px;
}
.hero .card-info {
  background-color: #fff;
  padding: 44px;
  width: 387px;
  border-radius: 25px;
  position: absolute;
  inset-inline-end: 40px;
  bottom: 40px;
  transition: all 0.5s;
  z-index: 99;
}
@media (max-width: 1024px) {
  .hero .card-info {
    display: none;
  }
}
.hero .card-info .card-head h5 {
  font-size: 20px;
  font-family: ExoBold;
  color: #E99A00;
  margin-bottom: 9px;
}
.hero .card-info .card-head p {
  font-size: 14px;
  font-family: ExoMedium;
  color: #000;
  margin-bottom: 21px;
}
.hero .card-info hr {
  width: 63px;
  height: 1px;
  opacity: 1;
  background-color: #000;
}
.hero .card-info .card-body p {
  font-size: 15px;
  font-family: ExoMedium;
  line-height: 23.52px;
  padding: 0;
}
.hero .card-info .card-foot {
  display: flex;
  align-items: center;
  justify-content: end;
}
.hero .card-info .card-foot .btn-main {
  font-size: 16px;
  padding: 12px 40px;
}
.hero .card-info .card-foot .btn-main::after {
  display: none;
}/*# sourceMappingURL=main.css.map */