.header {
    padding: 32px 118px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;

    @media (max-width:1400px) {
        padding: 32px 0;
    }
    @media (max-width:767px) {
        padding: 12px 0;
         
    }
    .navbar-brand {
        img {
            max-width: 223px;
            height: 90px;

            @media (max-width:1366px) {
                max-width: 180px;

            }

            @media (max-width:1024px) {
                max-width: 150px;
                height: auto;

            }

            @media (max-width:768px) {
                max-width: 120px;
            }
        }
    }

    .navbar-nav {
        background-color: $whitColor;
        gap: 1.4rem;
        box-shadow: $boxShadow1;
        border-radius: 36.12px;
        padding: 10px 12px;

        @media (max-width:1190px) {
            gap: 1rem;
        }

        @media (max-width:992px) {
            box-shadow: none;
            border-radius: 0;
            gap: 5px;
         }

        .nav-link {
            font-family: ExoMedium;
            text-transform: capitalize;
            font-size: 16px;
            padding: 1rem 2rem;
            color: $blackColor;
            text-wrap: nowrap;

            @media (max-width:1190px) {
                padding: 1rem;

            }
            @media (max-width:767px) {
                padding: 10px 12px;

            }
        }

        .nav-link.active {
            background-color: $mainColor;
            color: $whitColor;
            border-radius: 27px;
        }

    }

    .navbar-collapse {
        @media (max-width:992px) {
            background-color: $whitColor;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.0509803922);
            border-radius: 36.12px;
            padding: 10px  ;
            margin-top: 5px;
        }
        .nav-link {
            font-size: 14px;
        }
    }
}