 // colors
 $bg1: #eee;
 $mainColor: #E99A00;
 $blackColor: #000;
 $whitColor: #fff;
 $grayColor100: rgba(217, 217, 217, 0.25);
 $grayColor200: rgba(0, 0, 0, .2); 
 $grayColor300: rgba(0, 0, 0, 0.3); 
 //boxShadow
 $boxShadow1: 0 4px 4px #0000000D;